<p><label><%= l(:rap_setting_password_complexity) %></label></p>
 

<p>
	<%= l(:rap_setting_password_complexity_a) %>
    <label><%= l(:exception_handler_label_email_format)%></label><%= select_tag 'settings[password_complexity]', options_for_select([0,1,2,3,4], @settings[:password_complexity]) %>
	<%= l(:rap_setting_password_complexity_b) %>
	</br>
	<%= l(:rap_setting_password_upper_case)   %></br>
	<%= l(:rap_setting_password_lower_case)   %></br>
	<%= l(:rap_setting_password_numerical)    %></br>
	<%= l(:rap_setting_password_non_alphanum) %>
</p>


<p><label><%= l(:rap_setting_password_expiry) %></label></p>
<p>
	<%= l(:rap_setting_password_max_age) %>
	<%= text_field_tag 'settings[password_max_age]', @settings[:password_max_age], size: 1 %>
	<%= l(:label_day_plural) %>
</p>


<p><label><%= l(:rap_setting_password_reuse) %></label></p>
<p>
	<%= l(:rap_setting_password_min_unique_a) %>
	<%= text_field_tag 'settings[password_min_unique]', @settings[:password_min_unique], size: 1 %>
	<%= l(:rap_setting_password_min_unique_b) %>
</p>
<p>
	<%= l(:rap_setting_password_min_age) %>
	<%= text_field_tag 'settings[password_min_age]', @settings[:password_min_age], size: 1 %>
	<%= l(:label_day_plural) %>
</p>


<p><label><%= l(:rap_setting_invalid_logins) %></label></p>
<p>
	<%= l(:rap_setting_invalid_logins_a) %>
	<%= text_field_tag 'settings[account_lockout_duration]', @settings[:account_lockout_duration], size: 1 %>
	<%= l(:rap_setting_invalid_logins_b) %>
	<%= text_field_tag 'settings[account_lockout_threshold]', @settings[:account_lockout_threshold], size: 1 %>
	<%= l(:rap_setting_invalid_logins_c) %>
</p>
<p>
	<%= check_box_tag 'settings[notify_on_failure]', params[:notify_on_failure], @settings[:notify_on_failure] %>
	<%= l(:rap_setting_notify_on_failure) %>
</p>
<p><em class="info"><%= l(:rap_setting_notify_on_lockout) %></em></p>


<p><label><%= l(:rap_setting_unused_account) %></label></p>
<p>
	<%= l(:rap_setting_unused_account_max_age) %>
	<%= text_field_tag 'settings[unused_account_max_age]', @settings[:unused_account_max_age], size: 1 %>
	<%= l(:label_day_plural) %>
</p>


<p>
	<label><%= l(:rap_setting_account_policy_checked_on) %></label>
	<%= @settings[:account_policy_checked_on] %>
</p>
